<mat-toolbar color="primary">
  <!-- Bicmac menu -->
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>App Navigation</span>

  <span class="spacer"></span>

  <!-- Dynaamiset buttonit -->
  <div *ngIf="userEmail$ | async as userEmail; else loginTemplate" class="toolbar-actions">
    <span class="user-email">{{ userEmail }}</span>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      LOG OUT
    </button>
  </div>
  <ng-template #loginTemplate>
    <button mat-button routerLink="/admin/login">
      <mat-icon>login</mat-icon>
      SIGN IN
    </button>
  </ng-template>
</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="false">
    <mat-nav-list>
      <!-- Navigation Links -->
      <a mat-list-item routerLink="/" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <mat-divider></mat-divider>
      
      <a mat-list-item routerLink="/admin/login" *ngIf="!(userEmail$ | async)" (click)="sidenav.close()">
        <mat-icon>login</mat-icon>
        <span>SIGN IN</span>
      </a>
      <a mat-list-item routerLink="/admin/main" *ngIf="userEmail$ | async" (click)="sidenav.close()">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Admin Panel</span>
      </a>
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/feedback" (click)="sidenav.close()">
        <mat-icon>feedback</mat-icon>
        <span>Feedback</span>
      </a>
      <a mat-list-item routerLink="/calculator" (click)="sidenav.close()">
        <mat-icon>calculate</mat-icon>
        <span>Calculator</span>
      </a>
      <a mat-list-item routerLink="/form" (click)="sidenav.close()">
        <mat-icon>assignment</mat-icon>
        <span>Template Form</span>
      </a>
      <a mat-list-item routerLink="/reactive" (click)="sidenav.close()">
        <mat-icon>dynamic_form</mat-icon>
        <span>Reactive Form</span>
      </a>
      <a mat-list-item routerLink="/movies" (click)="sidenav.close()">
        <mat-icon>movie</mat-icon>
        <span>Movies</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content, Lähinnä nyt jäi tänne. Siistin jos jaksan -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
